footer.footer
  .container-fluid.d-flex.justify-content-between
    nav.pull-left
      ul.nav
        li.nav-item
          a.nav-link(href='http://www.themekita.com')
            | ThemeKita
        li.nav-item
          a.nav-link(href='#')  Help
        li.nav-item
          a.nav-link(href='#')  Licenses
    .copyright
      | 2024, made with
      i.fa.fa-heart.heart.text-danger
      |  by
      a(href='http://www.themekita.com') ThemeKita
    div
      | Distributed by
      a(target='_blank' href='https://themewagon.com/') ThemeWagon
      | .
