doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='stylesheet' href='/css/base.css')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css')
        // Thêm Slick Carousel CSS
        link(rel='stylesheet' href='/css/slick.css')
        link(rel='stylesheet' href='/css/slick-theme.css')
    body
        .web
            include ../partials/header.pug

            .container
                block main

            include ../partials/footer.pug
            script(src='/js/script.js')
            // Thêm jQuery và Slick Carousel JS
            script(src='https://code.jquery.com/jquery-3.6.0.min.js')
            script(src='/js/slick.min.js')
            script.
                $(document).ready(function(){
                    $('.movies__carousel').slick({
                        infinite: true,
                        slidesToShow: 6,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        arrows: true,
                        dots: true
                    });
                });
