footer.footer
  .footer__container
    .grid
      .footer__content
        .footer__container-left
          .footer__container-logo
            a.header__logo-link(href='#')
              svg.header__logo-img(xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1500' height='287' viewbox='0 0 1500 287')
                g(transform='matrix(1,0,0,1,-0.9090909090909918,-0.17393939393946312)')
                  svg(viewbox='0 0 396 76' data-background-color='#ffffff' preserveaspectratio='xMidYMid meet' height='287' width='1500' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#tight-bounds(transform='matrix(1,0,0,1,0.2400000000000091,0.04606060606062101)')
                      svg(viewbox='0 0 395.52 75.90787878787879' height='75.90787878787879' width='395.52')
                        g
                          svg(viewbox='0 0 395.52 75.90787878787879' height='75.90787878787879' width='395.52')
                            g
                              svg(viewbox='0 0 395.52 75.90787878787879' height='75.90787878787879' width='395.52')
                                g#textblocktransform
                                  svg#textblock(viewbox='0 0 395.52 75.90787878787879' height='75.90787878787879' width='395.52')
                                    g
                                      svg(viewbox='0 0 395.52 75.90787878787879' height='75.90787878787879' width='395.52')
                                        g(transform='matrix(1,0,0,1,0,0)')
                                          svg(width='395.52' viewbox='1.25 -36.55 193.03 37.05' height='75.90787878787879' data-palette-color='#000000')
                                            path#text-0.wordmark-text-0(d='M21.4-9.25L27.4-35 40.75-35 40.75-34.05 38-34.05 38-0.95 40.75-0.95 40.75 0 25.5 0 25.5-0.95 28.25-0.95 28.25-32.2 28.05-32.2 20.55 0 14.3 0 5.5-32.35 5.3-32.35 5.3-0.95 8.05-0.95 8.05 0 1.25 0 1.25-0.95 4-0.95 4-34.05 1.25-34.05 1.25-35 14.75-35 21.4-9.25ZM58.65-9.85L58.65-9.85 58.65-14.1Q58.65-18.95 58.12-21.18 57.6-23.4 55.7-23.4L55.7-23.4Q54.6-23.4 53.92-22.78 53.25-22.15 52.95-20.7L52.95-20.7Q52.5-18.45 52.5-13.85L52.5-13.85 52.5-9.95Q52.5-4.5 52.82-3.4 53.15-2.3 53.5-1.6L53.5-1.6Q54.05-0.4 55.65-0.4L55.65-0.4Q57.6-0.4 58.2-2.65L58.2-2.65Q58.65-4.25 58.65-9.85ZM55.55 0.5Q49.3 0.5 46.1-2.7 42.9-5.9 42.9-11.88 42.9-17.85 46.32-21.08 49.75-24.3 55.95-24.3 62.15-24.3 65.2-21.33 68.25-18.35 68.25-12.25L68.25-12.25Q68.25 0.5 55.55 0.5L55.55 0.5ZM69.95-22.9L67.9-22.9 67.9-23.8 82.85-23.8 82.85-22.9 79.7-22.9 85.7-6.3 91.1-22.9 87.75-22.9 87.75-23.8 94.5-23.8 94.5-22.9 92.3-22.9 84.9 0 79.2 0 69.95-22.9ZM102.34-27.25Q99.69-27.25 98.57-28.6 97.44-29.95 97.44-31.95 97.44-33.95 98.67-35.25 99.89-36.55 102.39-36.55 104.89-36.55 106.19-35.38 107.49-34.2 107.49-32.02 107.49-29.85 106.24-28.55 104.99-27.25 102.34-27.25ZM94.79-22.9L94.79-23.8 107.04-23.8 107.04-0.9 109.84-0.9 109.84 0 94.99 0 94.99-0.9 97.74-0.9 97.74-22.9 94.79-22.9ZM123.99 0.5Q117.54 0.5 114.31-2.83 111.09-6.15 111.09-12.08 111.09-18 114.72-21.15 118.34-24.3 123.94-24.3L123.94-24.3Q135.29-24.3 134.84-12.9L134.84-12.9 120.74-12.9 120.74-10.95Q120.74-6.05 121.99-3.55 123.24-1.05 126.34-1.05L126.34-1.05Q132.14-1.05 133.94-7.25L133.94-7.25 134.84-7.1Q133.89-3.5 131.42-1.5 128.94 0.5 123.99 0.5L123.99 0.5ZM120.79-16.35L120.79-13.9 125.94-13.9 125.94-16.35Q125.94-20.4 125.47-21.88 124.99-23.35 123.56-23.35 122.14-23.35 121.47-21.78 120.79-20.2 120.79-16.35L120.79-16.35ZM137.89 0.5L137.29 0.5 137.29-8.45 137.89-8.45Q139.19-4.1 141.39-2.35 143.59-0.6 146.89-0.6L146.89-0.6Q151.99-0.6 151.99-3.85L151.99-3.85Q151.99-5.25 150.74-5.95L150.74-5.95Q148.79-7.05 145.74-7.65L145.74-7.65Q142.34-8.55 140.04-10.05L140.04-10.05Q137.29-11.85 137.29-15.75 137.29-19.65 139.69-21.98 142.09-24.3 146.09-24.3L146.09-24.3Q148.54-24.3 151.14-23.15L151.14-23.15Q152.09-22.75 152.59-22.75 153.09-22.75 153.44-23.1 153.79-23.45 154.29-24.4L154.29-24.4 154.84-24.4 154.84-16.75 154.24-16.75Q151.69-23.25 146.34-23.25L146.34-23.25Q143.99-23.25 142.84-22.43 141.69-21.6 141.69-20.35L141.69-20.35Q141.69-19.6 142.04-19.18 142.39-18.75 142.59-18.55 142.79-18.35 143.24-18.13 143.69-17.9 143.99-17.78 144.29-17.65 144.91-17.45 145.54-17.25 145.84-17.2L145.84-17.2Q149.24-16.35 150.74-15.73 152.24-15.1 153.59-14.2L153.59-14.2Q156.34-12.3 156.34-8.08 156.34-3.85 153.84-1.68 151.34 0.5 146.99 0.5L146.99 0.5Q143.89 0.5 140.99-0.95L140.99-0.95Q140.39-1.35 140.04-1.35L140.04-1.35Q138.94-1.35 137.89 0.5L137.89 0.5ZM182.58-0.55L182.58-0.55Q185.08-0.55 187.01-1.9 188.93-3.25 188.93-5.98 188.93-8.7 186.86-10.15 184.78-11.6 180.96-12.68 177.13-13.75 175.41-14.55 173.68-15.35 172.13-16.65L172.13-16.65Q169.03-19.25 169.03-24.7L169.03-24.7Q169.03-29.15 172.21-32.35 175.38-35.55 180.88-35.55L180.88-35.55Q183.53-35.55 186.41-34.77 189.28-34 189.98-34 190.68-34 191.23-35L191.23-35 191.78-35 192.13-24.9 191.33-24.9Q188.93-29.25 186.31-31.88 183.68-34.5 180.61-34.5 177.53-34.5 175.83-33.08 174.13-31.65 174.13-29.28 174.13-26.9 176.16-25.63 178.18-24.35 181.13-23.55 184.08-22.75 185.01-22.45 185.93-22.15 187.31-21.63 188.68-21.1 189.56-20.53 190.43-19.95 191.41-19.07 192.38-18.2 192.93-17.15L192.93-17.15Q194.28-14.75 194.28-11.45L194.28-11.45Q194.28-6.05 190.91-2.78 187.53 0.5 182.03 0.5L182.03 0.5Q179.18 0.5 175.51-0.25 171.83-1 171.43-1L171.43-1Q170.73-1 170.08 0.5L170.08 0.5 169.38 0.5 168.88-11.4 169.73-11.4Q171.93-7.05 175.36-3.8 178.78-0.55 182.58-0.55Z' opacity='1' transform='matrix(1,0,0,1,0,0)' fill='#000000' data-fill-palette-color='primary')
                        defs
                      rect(width='395.52' height='75.90787878787879' fill='none' stroke='none' visibility='hidden')
        .footer__container-center
          ul.footer__container-list
            li.footer__container-item
              a.footer__container-item-link(href='#') About us
            li.footer__container-item
              a.footer__container-item-link(href='#') Blog
            li.footer__container-item
              a.footer__container-item-link(href='#') Pricing Plan
          ul.footer__container-list
            li.footer__container-item
              a.footer__container-item-link(href='#') Top Trending
            li.footer__container-item
              a.footer__container-item-link(href='#') Recommended
            li.footer__container-item
              a.footer__container-item-link(href='#') Popular
          ul.footer__container-list
            li.footer__container-item
              a.footer__container-item-link(href='#') Contact Us
            li.footer__container-item
              a.footer__container-item-link(href='#') Privacy Policy
            li.footer__container-item
              a.footer__container-item-link(href='#') Terms of use
        .footer__container-right
          .footer__container-icon-link
            a.footer__container-icon-link
              i.footer__container-icon.fa-brands.fa-facebook
          .footer__container-icon-link
            a.footer__container-icon-link
              i.footer__container-icon.fa-brands.fa-instagram
          .footer__container-icon-link
            a.footer__container-icon-link
              i.footer__container-icon.fa-brands.fa-github