extends ../../layouts/default.pug

include ../../mixins/movie-section.pug

block main
    include ../../partials/video-container.pug
    +movieSection('Phim mới cập nhật', newMovies, pathImages, '/movies/new-movies')
    +movieSection('Phim lẻ', singleMovies, pathImages, '/movies/single-movies')
    +movieSection('Phim bộ', seriesMovies, pathImages, '/movies/series-movies')