extends ../../layouts/default.pug

block main
    .video-container
      .video-container__infor
        .video-container__infor-logo
          img.video-container__infor-logo-img(src='/img/logo_red.png')
        .video-container__infor-desc
          p.video-container__infor-desc-text
            | Khi c&ograve;n nh&#x1ECF;, Uta c&#x1EF1;u nh&#x1EA1;c s&itilde; c&#x1EE7;a b&abreve;ng h&#x1EA3;i t&#x1EB7;c T&oacute;c
            | &Dstrok;&#x1ECF; v&agrave; l&agrave; b&#x1EA1;n th&#x1EDD;i th&#x1A1; &#x1EA5;u c&#x1EE7;a Monkey D. Luffy &dstrok;&atilde; h&#x1EE9;a r&#x1EB1;ng c&ocirc; s&#x1EBD; x&acirc;y d&#x1EF1;ng m&#x1ED9;t k&#x1EF7; nguy&ecirc;n t&#x1EF1; do
            | m&#x1EDB;i
            | b&#x1EB1;ng c&aacute;ch bi&#x1EC3;u di&#x1EC5;n &acirc;m nh&#x1EA1;c vui t&#x1B0;&#x1A1;i cho th&#x1EBF; gi&#x1EDB;i.
        .video-container__infor-action
          .video-container__infor-action-btn-link
            button.video-container__infor-action-btn-link.video-container__infor-action-btn-link--play
              i.video-container__infor-action-btn-link-icon.fa-solid.fa-play
              | Ph&aacute;t
      .video-container__play
        section.video-container__play-video-section
          video.video-container__play-background-video(autoplay='' muted='' loop='')
            source(src='/videos/One Piece Film Red - Official Trailer (2022) English Subtitles (1080p).mp4' type='video/mp4')

    .movies__container
      .grid
        .movies__container-section
          .movies__container-title
            span.movies__container-title-text Phim m&#x1EDB;i c&#x1EAD;p nh&#x1EAD;t
            span.movies__container-title-see-all
              a.movies__container-title-see-all-link(href='')
                | Xem t&#x1EA5;t c&#x1EA3;
        .grid__row.movies__content
          .grid__column-12
            .home-movies
              .grid__row
                each item in movies
                  .grid__column-2-4
                    .home-movies-item
                      .home-movies-item-link(href='#')
                        .home-movies-item__img(style=`background-image: url('${item.thumbnail}');`)
                        .home-movies-item__play-button
                          a.home-movies-item__play-button-link(href='#')
                            i.home-movies-item__play-button-link-icon.fa-solid.fa-play
