extends ../../layouts/default.pug

block main
    .movies__detail-container
        .grid
            div(class="movies__detail-section")
                div(class="movie__detail-content")
                    div(class="movie__detail-content-left")
                        div(class="movies__detail-title")
                            span(class="movies__detail-title-text")
                                | #{movie.name}
                        div(class="movie__detail-infor")
                            ul(class="movie__detail-infor-list")
                                li(class="movie__detail-infor-item") Năm sản xuất: #{movie.year}
                                li(class="movie__detail-infor-item") Thể loại:
                                    each cate in movie.category
                                        span.movies__detail-category= cate.name
                    div(class="movie__detail-content-right")
                        img(src=`${movie.thumb_url}`)

